# Project exclude paths
/.gradle/
/Problems/Account/out/
/Problems/Account/out/production/classes/
/Problems/Advanced calculator/out/
/Problems/Advanced calculator/out/production/classes/
/Problems/Alphabetical order/out/
/Problems/Alphabetical order/out/production/classes/
/Problems/Are siblings/out/
/Problems/Are siblings/out/production/classes/
/Problems/Area of a circle/out/
/Problems/Area of a circle/out/production/classes/
/Problems/Avoid division by zero/out/
/Problems/Avoid division by zero/out/production/classes/
/Problems/Basic calculator/out/
/Problems/Basic calculator/out/production/classes/
/Problems/Binary search/out/
/Problems/Binary search/out/production/classes/
/Problems/Book/out/
/Problems/Book/out/production/classes/
/Problems/Boxes/out/
/Problems/Boxes/out/production/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/Catching some exceptions/out/
/Problems/Catching some exceptions/out/production/classes/
/Problems/Celsius to Fahrenheit/out/
/Problems/Celsius to Fahrenheit/out/production/classes/
/Problems/Check if an array contains two numbers/out/
/Problems/Check if an array contains two numbers/out/production/classes/
/Problems/Check if an array is sorted ascending/out/
/Problems/Check if an array is sorted ascending/out/production/classes/
/Problems/Cinema/out/
/Problems/Cinema/out/production/classes/
/Problems/Classes for Hospital/out/
/Problems/Classes for Hospital/out/production/classes/
/Problems/Comparing strings ignoring whitespaces/out/
/Problems/Comparing strings ignoring whitespaces/out/production/classes/
/Problems/Complex/out/
/Problems/Complex/out/production/classes/
/Problems/Compression algorithm/out/
/Problems/Compression algorithm/out/production/classes/
/Problems/Convert a date/out/
/Problems/Convert a date/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Create an euphonious word/out/
/Problems/Create an euphonious word/out/production/classes/
/Problems/Creating instances/out/
/Problems/Creating instances/out/production/classes/
/Problems/Cutting out the middle of a string/out/
/Problems/Cutting out the middle of a string/out/production/classes/
/Problems/Decrement all/out/
/Problems/Decrement all/out/production/classes/
/Problems/Difference between two doubles/out/
/Problems/Difference between two doubles/out/production/classes/
/Problems/Division/out/
/Problems/Division/out/production/classes/
/Problems/Does an array contain N/out/
/Problems/Does an array contain N/out/production/classes/
/Problems/Double characters/out/
/Problems/Double characters/out/production/classes/
/Problems/Evaluate an expression/out/
/Problems/Evaluate an expression/out/production/classes/
/Problems/Exponential expression/out/
/Problems/Exponential expression/out/production/classes/
/Problems/Find the first occurrence of the word  the/out/
/Problems/Find the first occurrence of the word  the/out/production/classes/
/Problems/Find X/out/
/Problems/Find X/out/production/classes/
/Problems/Generating passwords/out/
/Problems/Generating passwords/out/production/classes/
/Problems/Getting input/out/
/Problems/Getting input/out/production/classes/
/Problems/Getting the fullname/out/
/Problems/Getting the fullname/out/production/classes/
/Problems/Grades/out/
/Problems/Grades/out/production/classes/
/Problems/Inverse boolean flags/out/
/Problems/Inverse boolean flags/out/production/classes/
/Problems/Liquid pressure/out/
/Problems/Liquid pressure/out/production/classes/
/Problems/Maximum element in a matrix/out/
/Problems/Maximum element in a matrix/out/production/classes/
/Problems/Move the first N characters/out/
/Problems/Move the first N characters/out/production/classes/
/Problems/Number of occurrences/out/
/Problems/Number of occurrences/out/production/classes/
/Problems/Palindrome/out/
/Problems/Palindrome/out/production/classes/
/Problems/Parameters and their values/out/
/Problems/Parameters and their values/out/production/classes/
/Problems/Parse url/out/
/Problems/Parse url/out/production/classes/
/Problems/Piece of alphabet/out/
/Problems/Piece of alphabet/out/production/classes/
/Problems/Profit/out/
/Problems/Profit/out/production/classes/
/Problems/Quadratic equation/out/
/Problems/Quadratic equation/out/production/classes/
/Problems/Raise to the power/out/
/Problems/Raise to the power/out/production/classes/
/Problems/Reading integer numbers/out/
/Problems/Reading integer numbers/out/production/classes/
/Problems/Sorting arrays/out/
/Problems/Sorting arrays/out/production/classes/
/Problems/Sorting numbers/out/
/Problems/Sorting numbers/out/production/classes/
/Problems/String to double conversion/out/
/Problems/String to double conversion/out/production/classes/
/Problems/Sum of neighbors/out/
/Problems/Sum of neighbors/out/production/classes/
/Problems/Sum of numbers in the range/out/
/Problems/Sum of numbers in the range/out/production/classes/
/Problems/The angle between vectors/out/
/Problems/The angle between vectors/out/production/classes/
/Problems/The army of units/out/
/Problems/The army of units/out/production/classes/
/Problems/The index of an argument/out/
/Problems/The index of an argument/out/production/classes/
/Problems/The integer barrier/out/
/Problems/The integer barrier/out/production/classes/
/Problems/The largest element of a sequence/out/
/Problems/The largest element of a sequence/out/production/classes/
/Problems/The longest word/out/
/Problems/The longest word/out/production/classes/
/Problems/The lucky ticket/out/
/Problems/The lucky ticket/out/production/classes/
/Problems/The percentage of G and C characters/out/
/Problems/The percentage of G and C characters/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/
/Readability Score/task/out/
/Readability Score/task/out/production/classes/
/Readability Score/task/out/test/classes/
/Readability Score (1)/task/out/
/Readability Score (1)/task/out/production/classes/
/Readability Score (1)/task/out/test/classes/
/Readability Score (1) (1)/task/build/
/Readability Score (1) (1)/task/out/
/Readability Score (1) (1)/task/out/production/classes/
/Readability Score (1) (1)/task/out/test/classes/